extends base
include _navigationBar

block content
    +dynamicNavBar(`/entryExit.Entries`)

    .container
        .entriesForm
            h1 Today's Entries
            
            form.entries-data
                .form-row
                    .form-group.col-md-4
                        label(for="inputAuthor") Author
                        input(type="text").form-control#inputAuthor
                    .form-group.col-md-4
                        label(for="inputProducts") Products
                        ul.list-group
                            each product in products
                                li(data-value=`${product._id}`).list-group-item #{product.name} |&nbsp;
                                    strong entries  
                                    span.leftArrow <ion-icon name="remove-circle"></ion-icon>
                                    | 0
                                    span.rightArrow <ion-icon name="add-circle"></ion-icon> |&nbsp;

                                    strong exits  
                                    span.leftArrow <ion-icon name="remove-circle"></ion-icon>
                                    | 0
                                    span.rightArrow <ion-icon name="add-circle"></ion-icon>
                    .form-group.col-md-4
                        label(for="inputMarket") market
                        input(type="text" name=`${market._id}` placeholder=`${market.name}` readonly).form-control#inputMarket
                
                button(type="submit").btn.btn-success submit form